@import "base";

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.counter__box{
  min-width: 20rem;
}
.buttons{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}